@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    font-size: 1rem;
}
.home{
    width: 97%;
    margin: 0 auto;
}
.hamburger{
    display: none;
}
.close{
    display: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home__logo--icon{
    padding-top: 1em;
}
.home__links{
    display: flex;
    width: 60%;
    justify-content: flex-end;
    background: rgba(217, 217, 217, 0.04);
    backdrop-filter: blur(40.7742px);   

}
.home__links > li {
    list-style: none;
    margin-left: 2.5em;
    padding: 1.7em 0;
}
.home__links a{
    color: white;
    text-decoration: none;
}
.home__links b{
    font-weight: 700;
    margin-right: 0.5em;
    display: inline;
}
.active{
    border-bottom: 2px solid white;
}
.hidden{
    display: none
    !important;
}

/***************************** HOME SECTION *****************************/
.home__body{
    background-image: url(./starter-code/assets/home/background-home-desktop.jpg);
    font-family: 'Bellefair', serif;
    color: white;
    font-size: 16px;
}
.home__tab{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 90%;
    margin: 9em auto 0;
}
.home__text{
    grid-column: 1/2;
    grid-row: auto;
    width: 80%;
}
.home__text h4{
    text-transform: uppercase;
    font-size: 1.2rem;
}
.home__text h2{
    font-size: 8rem;
    word-spacing: 0.35em;
    text-transform: uppercase;
    margin: 0.3em 0;
}
.home__text p{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.1rem;
    width: 70%;
    line-height: 1.5em;
}
.home__circle{
    grid-column: 2/3;
    grid-row: auto;
    align-self: flex-end;
    width: 50%;
    margin: 0 0 0 auto;
}
.home__explore{
    display: inline-block;
    font-size: 1.4rem;
    padding: 3.5em 2em;
    background-color: white;
    color: black;
    border-radius: 50%;
}
.home__explore:hover{
    border: 50px solid #D9D9D9;
}

/******************************** DESTINATION ************************************/
.destination__body{
    background-image: url(./starter-code/assets/destination/background-destination-desktop.jpg);
    font-family: 'Bellefair', serif;
    color: white;
}
.destination__tab{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 4em;
}
.destination__moon{
    grid-column: 1/2;
    grid-row: auto;
    margin: 0 auto;
}
.destination__moon img{
    width: 100%;
}
.destination__text{
    grid-column: 2/3;
    grid-row: auto;
    width: 70%;
    margin: 0 auto;
}
.destination__text--1{
    font-size: 5.5rem;
    letter-spacing: 0.1em;
}
.destination__text--2{
    font-family: 'Barlow Condensed', sans-serif;
    margin: 2em 0 3em 0;
    line-height: 1.6em;
    font-size: 1rem;
    width: 67%;
}
.destination__stats{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border-top: 2px solid #383B4B;
    width: 75%;
}
.destination__stats h3{
    font-size: 0.7rem;
    text-transform: uppercase;
    padding: 2em 0 1em;
}
.destination__stats p{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.destination__links{
    display: flex;
    margin: 0.5em 0 2em 0;
}
.destination__links li{
    list-style: none;
    margin-right: 1.5em;
    height: 100%;
    padding: 0.3em 0 0.4em;
}
.destination__links a{
    color: white;
    text-decoration: none;
}
.common__text{
    font-size: 1.2rem;
    margin: 0 0 2em 5em;
    letter-spacing: 0.23em;
}
.common__text b{
    color: #FFFFFF;
    opacity: 0.25;
    margin-right: 0.2em;
}

/***************************** CREW ************************************/
.crew__body{
    background-image: url(./starter-code/assets/crew/background-crew-desktop.jpg);
    font-family: 'Bellefair', serif;
    color: white;
}
.crew__tab{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 4em;  
}
.crew__text{
    grid-column: 1/2;
    grid-row: auto;
    width: 80%;
    margin: 0 auto;
    padding: 0 0 0 5em;
}
.crew__img{
    grid-column: 2/3;
    grid-row: auto;
    margin: 0 auto;
}
.crew__img img{
    max-height: 31.5em;   
    width: 100%;
}
.crew__text h4{
    opacity: 0.5;
    margin: 3.5em 0 1em;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.crew__text h2{
    font-size: 2.6rem;
    text-transform: uppercase;
}
.crew__text--1{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.1rem;
    margin-top: 2.5em;
    line-height: 1.4em;
    width: 74%;
}
.common__text--2{
    font-size: 1.3rem;
    padding-top: 1em;
    letter-spacing: 0.23em;
}
.common__text--2 b{
    color: #FFFFFF;
    opacity: 0.25;
    margin-right: 0.2em;
}
.dots__container{
    display: flex;
}
.dots{
    background-color: #b9b9b9;
    opacity: 0.2;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    cursor: pointer;
    margin: 4em 2em 0 0;
}
.dots__active{
    background-color: white;
    opacity: 0.6;
}
.common__text--alt{
    display: none;
}

/***************************** TECHNOLOGY ************************************/
.technology__body{
    background-image: url(./starter-code/assets/technology/background-technology-desktop.jpg);
    color: white;
    font-family: 'Bellefair', serif;
}
.technology__tab{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
    margin-top: 2em;
}
.technology__text{
    grid-column: 1/2;
    grid-row: auto;
    padding-top: 6em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
}
.technology__img{
    grid-column: 2/3;
    grid-row: auto;
}
.technology__img img{
    height: 26em;
    width: 100%;
}
.technology__text--1{
    margin: 0 auto;
}
.technology__text--1 p{
    font-family: 'Barlow Condensed', sans-serif;
    margin-bottom: 1em;
    border: 1px dotted white;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.6em 0.8em;
}
.technology__text--2 h6{
    text-transform: uppercase;
    font-size: 0.7rem;
}
.technology__text--2 h2{
    text-transform: uppercase;
    font-size: 2.6rem;
    margin: 0.2em 0 0.7em;
}
.technology__text--2 p{
    font-family: 'Barlow Condensed', sans-serif;
    width: 60%;
    line-height: 1.3em;
}
.common__text--3{
    font-size: 1.2rem;
    letter-spacing: 0.23em;
    margin: 2em 0 1em 5em;
}
.common__text--3 b{
    color: #FFFFFF;
    opacity: 0.25;
}
.technology__active{
    background-color: white;
    color: black;
}


/********************************************** MEDIA QUERY (TABLET) ***********************************************************/

@media screen and (max-width: 768px) {

    .header{
        grid-template-rows: 5em;
        margin-top: 0;
    }
    .home__links{
        display: flex;
        align-self: center;
        height: 5em;
        width: 90%;
        margin: auto 0;
    }
    .home__links > li {
        list-style: none;
        padding: 2em 0;
        margin-left: 2.5em;
    }
    .home__links b{
        display: none;
    }
  
/************************************* HOME TABLET *******************************************/
    .home__body{
        background-image: url(./starter-code/assets/home/background-home-tablet.jpg);
    }
    .home__tab{
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
        margin: 5em auto 0;
        text-align: center;
    }
    .home__text{
        grid-column: auto;
        grid-row: 1/2;
        width: 100%;
        padding-bottom: 3em;
    }
    .home__circle{
        grid-column: auto;
        grid-row: 2/3;
        align-self: center;
        width: 50%;
        margin: 0 auto;
    }
    .home__text h4{
        font-size: 1.1rem;
    }
    .home__text h2{
        margin: 0.2em 0;
    }
    .home__text p{
        font-size: 1.1rem;
        width: 65%;
        margin: 0 auto;
        line-height: 1.7em;
    }

/******************************** DESTINATION TABLET************************************/
    .destination__body{
        background-image: url(./starter-code/assets/destination/background-destination-tablet.jpg);
    }
    .destination__tab{
        grid-template-columns: auto;
        grid-template-rows: 2em 1fr 1.3fr;
        margin-top: 3em;
    }
    .destination__moon{
        grid-column: auto;
        grid-row: 2/3;
        margin: 0 auto;
        padding-top: 2em;
    }
    .destination__text{
        grid-column: auto;
        grid-row: 3/4;
        width: 70%;
        margin: 0 auto 3em;
        text-align: center;
    }
    .destination__text--1{
        font-size: 4.5rem;
    }
    .destination__text--2{
        font-size: 1.2rem;
        margin: 2em auto 3em;
        width: 85%;
    }
    .destination__stats{
        width: 100%;
    }
    .destination__links{
        justify-content: center;
        margin: 0.5em 0 2em 0;
    }
    .common__text{
        grid-column: auto;
        grid-row: 1/2;
        margin: 0;
    }
/************************************** CREW TABLET*****************************************/
    .crew__body{
        background-image: url(./starter-code/assets/crew/background-crew-tablet.jpg);
    }
    .crew__tab{
        grid-template-columns: auto;
        grid-template-rows: 1fr 1.2fr;
        margin-top: 2em; 
    }
    .crew__text{
        grid-column: auto;
        grid-row: 1/2;
        text-align: center;
        padding: 0;
        width: 100%;
    }
    .crew__img{
        grid-column: auto;
        grid-row: 2/3;
    }
    .crew__text h4{
        margin: 3em 0 0.5em;
    }
    .crew__text--1{
        width: 68%;
        margin: 1.5em auto 0;
    }
    .dots__container{
        display: flex;
        justify-content: center;
    }
    .dots{
        height: 0.7em;
        width: 0.7em;
        margin: 3em 1.5em 0 0;
    }
    .common__text--2{
        padding: 0;
        font-size: 1.1rem;
        text-align: left;
    }
    .common__text--2 b{
        color: #FFFFFF;
        opacity: 0.25;
    }
/*********************************** TECHNOLOGY TABLET*****************************************/
    .technology__body{
        background-image: url(./starter-code/assets/technology/background-technology-tablet.jpg);
    }
    .technology__tab{
        grid-template-columns: auto;
        grid-template-rows: 5em 1fr 1fr;
        margin: 2em 0 3em;
    }
    .technology__text{
        grid-column: auto;
        grid-row: 3/4;
        padding-top: 4em;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 2fr;
        text-align: center;
    }
    .technology__img{
        grid-column: auto;
        grid-row: 2/3;
    }
    .technology__text--1{
        margin: 0 auto;
        display: flex;
    }
    .technology__text--1 p{
        width: 1em;
        height: 1em;
        font-size: 1.1rem;
        padding: 0.5em 1.3em 2em 1em;
        margin-right: 1.5em;
    }
    .technology__text--2 h6{
        font-size: 0.9rem;
        margin: 0 0 1.5em;
    }
    .technology__text--2 h2{
        font-size: 2.4rem;
    }
    .technology__text--2 p{
        width: 50%;
        margin: 0 auto;
    }
    .common__text--3{
        grid-row: 1/2;
        grid-column: auto;
        font-size: 1.1rem;
        margin: 0;
        text-align: center;
    }
    .technology__img img{
        height: 26em;
        width: 100%;
    }
}

/********************************************** MEDIA QUERY (MOBILE) ***********************************************************/
@media screen and (max-width: 480px) {
    .home{
        width: 95%;
        margin: 0 auto;
    }
    .home__links{
        position: fixed;
        inset: 0 0 0 40%;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        background: rgba(217, 217, 217, 0.04);
        backdrop-filter: blur(40.7742px); 
        padding: min(15vh, 10rem) 1em;
        display: none;
    }
    .home__links li {
        list-style: none;

    }
    .home__links b{
        display: inline;
    }
    .close{
        display: block;
        position: absolute;
        right: 1em;
        cursor: pointer;
    }
    .hamburger{
        display: block;
        margin-right: 1em;
        cursor: pointer;
    }
    .home__links a{
        color: white;
        text-decoration: none;
    }

/************************************* HOME MOBILE *******************************************/
    .home__text h2{
        font-size: 6rem;
    }
    .home__text h4{
        font-size: 1.1rem;
    }
    .home__text p{
        font-size: 1.1rem;
        width: 95%;
    }

/****************************** DESTINATION MOBILE *********************************/
    .destination__stats{
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
    }
    .inactive{
        border:none;
    }
    .destination__text--3{
        grid-column: auto;
        grid-row: 1/2;
    }
    .destination__text--4{
        grid-column: auto;
        grid-row: 2/3;
    }
    .destination__stats p{
        font-size: 1.7rem;
    }
    .destination__links li{
        margin-right: 1em;
    }
    .destination__text--1{
        font-size: 3rem;
    }
    .destination__tab{
        grid-template-rows: 2em 1.2fr 2fr;
    }
    .destination__text--2{
        width: 95%;
    }
    .destination__text{
        width: 100%;
    }
    .common__text{
        font-size: 0.9rem;
        display: inline-flex;
        text-align: center;
        justify-content: center;
    }


/************************************** CREW MOBILE*****************************************/
    .crew__tab{
        grid-template-rows: 2em 1fr 1fr;
    }
    .common__text--alt{
        grid-column: auto;
        grid-row: 1/2;
        text-align: center;
        font-size: 1.2rem;
    }
    .common__text--alt b{
        color: #FFFFFF;
        opacity: 0.25;
        margin-right: 0.2em;
    }
    .common__text--2{
        display: none;
    }
    .crew__img{
        grid-column: auto;
        grid-row: 2/3;
        margin-top: 2em;
        border-bottom: 2px solid gray;
    }
    .crew__img img{
        max-height: 100%;
    }
    .crew__text{
        grid-row: 3/4;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 7em 3em 3em auto;
    }
    .crew__text h4{
        grid-column: auto;
        grid-row: 2/3;
        margin: 0;
        font-size: 1.3rem;
    }
    .crew__text h2{
        margin-top: 0;
        font-size: 1.5rem;
        padding: 0;
        grid-column: auto;
        grid-row: 3/4;
    }
    .crew__text--1{
        width: 100%;
        margin: 1em auto 1em;
        grid-column: auto;
        grid-row: 4/5;
    }
    .dots__container{
        grid-column: auto;
        grid-row: 1/2;
    }
    

/*********************************** TECHNOLOGY MOBILE*****************************************/
    .technology__tab{
        grid-template-columns: auto;
        grid-template-rows: 5em 1fr 1fr;
        margin: 2em 0 3em;
    }
    .technology__img{
        grid-column: auto;
        grid-row: 2/3;
    }
    .technology__text{
        grid-template-rows: 4em 1fr;
    }
    .technology__text--1 p{
        width: 1em;
        height: 1em;
        font-size: 1.1rem;
        margin-left: 1em;
        padding: 0.5em 1.3em 1.6em 1em;
    }
    .technology__text--2 h6{
        font-size: 0.9rem;
        margin: 3em 0 1.5em;
    }
    .technology__text--2 h2{
        font-size: 1.5rem;
    }
    .technology__text--2 p{
        width: 90%;
        margin: 0 auto;
    }    
}

